.about-description{

	h2&__header{
		margin-top: 0;
		margin-bottom: 23px;
		font-weight: 300;
		font-size: 30px;
		line-height: 40px;
	}

	&__text{
		line-height: 25px;
		padding-bottom: 31px;
	}

	&__panel{
		padding-bottom: 60px;
	}


	&__button{
		display: block;
		text-align:center;
		@media(min-width: 768px){
			display:inline-block;
		}
	}

	&__link{
		font-weight: 500;
		display: block;
		text-align: center;
		margin-top: 26px;
		cursor: pointer;

		@media(min-width: 768px){
			margin-left: 40px;
			margin-top:0;
			display:inline-block;

		}

		@media(min-width: 1200px){
			&_inverse-lg{
				color: white;
			}
		}
	}

}