.adicons{
	position: relative;
	padding-top:0;
	margin: 0 auto;
	max-width: 1440px;

	@media (min-width: 768px){
		padding-top:71px;
		height:690px;
	}

	@media (min-width: 1200px){
		padding-top:160px;
		height: 500px;

	}

	&__icons{
		position: relative;
		margin-bottom: 7%;

		@media (min-width: 768px){
			margin-bottom: 3.9%;
		}

		@media (min-width: 1200px){
			margin-bottom: 0;
			height: 100%;
		} 

		&-image{
			width: 94%;
			position: relative;
			padding-top: 3px;

			@media (min-width: 768px){
				padding-top: 0;
				left: -25px;
				width: 82%;
			}

			@media (min-width: 1200px){
				width:500px;
				position: absolute;
				left:-10px;
				top:20px;
			}
			
			&_no2x{
				display: none;
				@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
					display: block;
				}
				@media (min-width: 1200px) {
						display: block;
				}
			}
			&_2x{
				display: block;
				@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
					display: none;
				}
				@media (min-width: 1200px) {
						display: none;
				}
			}

		}
	}

	&__content{
		margin-top:0;
		@media (min-width: 1200px){
			margin-top:0;
		}
	}

}