.adphone{
	position: relative;
	padding-top: 84px;

	@media (min-width: 768px){
		padding-top:146px;
		height: 1100px;
	}

	@media (min-width: 1200px){
		height: 800px;
		padding-top:160px;
	}

	&__phone{
		background-image: url(/imgs/about-iphone.png);

		@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
			background-image: url(/imgs/about-iphone-2x.png);
		}


		background-repeat: no-repeat;
		background-position: center;
		background-size: 652.5px;

		height: 800px;
		position: relative;
		margin-left: -12px;
		left: 0;
		top: -161px;

		@media (min-width: 768px){
			width: auto;
			background-size: 960px 800px;
			margin-left: 0;
			left:-17px;
			top:-40px;
		}
		@media (min-width: 1200px){
			width: 960px;
			position: absolute;
			top: -40px;
			left: -240px;
		}
	}

	&__box{
		background-color: #ffcb02;
		background-size: 480px;
		background-image: url(/imgs/about-bg-terrain-yellow.png);
		@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
			background-image: url(/imgs/about-bg-terrain-yellow-2x.png);
		}
		height: 340px;

		@media (min-width: 768px){
			height: 520px;
		}
		@media (min-width: 1200px){
			position: absolute;
			width: 100%;
		}

		&-wrapper{
			max-width:1440px;
			margin:0 auto;
			position: relative;
		}

	}

	&__container{
		margin-top: 70px;

		@media (min-width: 768px){
			margin-top: 100px;
		}

		@media (min-width: 1200px){
			margin-top: 110px;
		}

		max-width:1440px;
		margin-left: auto;
		margin-right: auto;


		@media (min-width: 1200px){
			.about-description__header{
				margin-right: -30px;
			}
		}
	}
}