.adplaces{
	position: relative;
	max-width:1440px;
	margin: 0 auto;
	padding-top:24px;

	@media (min-width: 768px) {
		padding-top:93px;
		height: 890px;
	}

	@media (min-width: 1200px) {
		height: 580px;
		padding-top:110px;
	}

	&__slides-container{
		margin-top: 30px;
		@media (min-width: 1200px) {
			margin-top: 0;
			position: absolute;
			height:100%;
		}
	}
	&__slides{
		margin: 0 auto;
		position: relative;
		left: 0;
		margin-bottom:27.5%;
		
		@media (min-width: 768px) {
			left: -17px;
			margin-bottom:24.5%;
		}
		
		@media (min-width: 1200px) {
			position:absolute;
			left: 30px;
			height: 280px;
			width: 612px;
			margin-bottom:0;
		}
	}

	&__slide{
		box-shadow: 0 0 20px rgba(0,0,0,.2);
		display:block;
		width: 87%;

		@media (min-width: 768px) {
			width:91.7%;
		}

		&_1{
			margin-left: 14%;
			margin-top:0%;
		}

		&_2{
			position:absolute;
			margin-left: 8.2%;
    		margin-top: -16.5%;
		}

		&_3{
			position:absolute;
			margin-left:0%;
			margin-top:-6.7%;
		}
		
		&_no2x{
			display: none;
			@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
				display: block;
			}
			@media (min-width: 1200px) {
					display: block;
			}
		}
		&_2x{
			display: block;
			@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
				display: none;
			}
			@media (min-width: 1200px) {
					display: none;
			}
		}
	}


	&__content{
	}

}