.adslides{
	position: relative;
	margin: 0 auto;
	max-width: 1440px;
	padding-top:124px;

	@media (min-width: 768px) {
		padding-top:220px;
	}
	@media (min-width: 1200px) {
		height: 600px;
	}

	&::after{
		content: '';
		display: block;
		clear: both;
	}
	
	&__slides{
		left:0;
		position:relative;
		margin-bottom: 35%;

		@media (min-width: 768px) {
			margin-bottom: 26.7%;
			left: -40px;
		}
		@media (min-width: 1200px) {
			margin-bottom: 0;
			left: -80px;
			width: 560px;
			height: 340px;
		}
		@media (min-width: 1280px) {
			left: -60px;
		}

		
	}

	&__slide{
		box-shadow: 0 0 20px rgba(0,0,0,.2);
		display:block;
		width:86%;
		height: auto;
		@media (min-width:768px){
			width:78.7%;
			height: auto;
		}

		&_1{
			margin-left:0;
			margin-top:0;
		}

		&_2{
			position:absolute;
			margin-left: 6.8%;
    		margin-top: -24.9%;
			@media (min-width: 768){
				margin-left:6.6%;
				margin-top:-23%;
			}
		}

		&_3{
			position:absolute;
			margin-left: 14%;
   			margin-top: -13%;
			@media (min-width: 768){
				margin-left: 13%;
				margin-top: -12%;
			}
		}

		@media (min-width: 1200px) {
			width: auto;
			height: auto;

			&_1{
				margin-left:0;
				margin-top:0;
			}

			&_2{
				margin-left: 40px;
				margin-top:-141px;
			}

			&_3{
				margin-left:80px;
				margin-top:-75px;
			}
		}
		

		&_no2x{
			display: none;
			@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
				display: block;
			}
			@media (min-width: 1200px) {
					display: block;
			}
		}
		&_2x{
			display: block;
			@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
				display: none;
			}
			@media (min-width: 1200px) {
					display: none;
			}
		}


	}


	&__content{
		margin-top: 0;
		@media (min-width: 1200px) {
			margin-top:20px;

			.about-description__header{
				margin-right: -20px;
			}
		}

	}

}