/*
	COMMON settings and styles
 */

// main font
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500&subset=cyrillic');

body{
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: #404040;
	min-width: 320px;
}

a{
	color: #e5b600;
	text-decoration: none;

	&:hover{
		color: #404040;
		text-decoration: none;
	}
}
a.inverse{
	color: white;

	&:hover{
		color: #404040;
	}
}

.about-page{
	overflow: hidden;
	width: 100%;
}