.iqbutton{
	background-color: #ffcb00;
	color: #404040;
	font-weight: 500;
	padding: 16px 21px 13px;
	display: inline-block;

	&:hover{
		background-color:#404040;
		color:white;
	}

	&_inverse-lg{
		@media (min-width: 1200px){
			color: #ffcb00;
			background-color: white;
		} 
	}
}