.tiboard{
/* clearfix	 */
	&::after{
		display:block;
		content:'';
		clear:both;
	}


	background-image: url(/imgs/terrain-pattern-gray.png);
	@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
		background-image: url(/imgs/terrain-pattern-gray-2x.png);
	}

	background-position: right bottom;
	background-repeat: repeat;
	
	background-size: 475px;

	@media(min-width:768px){
		background-size: 960px;
	}




	&__box{
		max-width: 1440px;
		margin: 0 auto;
		position: relative;
		z-index: 2;
		height: 100%;
		/*left:0;
		right: 0;*/    
		padding-top: 50px;
		margin-bottom: -170px;

		@media (min-width: 768px) {
			padding-top: 85px;
			margin-bottom: -265px;
		}
		@media (min-width: 1200px) {
			margin-bottom: -386px;
			padding-top: 83px;
		}
	}

	&__slides{
		position: relative;
		z-index: 1;
		min-width: 120%;
		bottom: 0;
		float:right;
		pointer-events: none;
		transition: margin-top 0.2s;
		margin-top: -5px;
		width: 950px;
		//left: 153px;

		@media(min-width:768px){
			margin-top: -60px;
			width:auto;
		}
		@media (min-width: 1200px) {
			margin-top:0;
		}
		@media (min-width: 1921px) {
			margin-top:-5%;
		}
		@media (min-width: 2201px) {
			margin-top:-7%;
		}
	}

	h1&__header{
		font-weight: 300;
		color: #404040;

		@media (min-width: 390px){
    		/*white-space: pre-line;*/
    	}

    	margin-top: 0;
    	margin-bottom: 0;
    	float:none;
    	position: relative;
    	font-size:30px;
    	/*top:50px;*/
    	line-height:40px;

		@media (min-width: 768px){
			/*top: 86px;*/
			font-size: 45px;
			line-height: 60px;
		}

    	@media (min-width: 1200px) {
			font-size: 80px;
			line-height: 101px;
	    	/*top:83px;
	    	max-height: 1000px;*/
    	}
	}


	/*background-image: url(/imgs/terrain-pattern-gray.png);
	@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
		background-image: url(/imgs/terrain-pattern-gray-2x.png);
	}

	background-position: right bottom;
	background-size: 960px 540px;
	background-repeat: repeat;*/


	position: relative;

		height: auto;

	box-sizing: content-box;

	&__hardware{
		position:absolute;
		bottom:-30px;
		right: 0;
		left: 0;
		margin:0 auto;
		width: 100%;
		max-width: 1440px;
		z-index: 3;

		&-img{
			pointer-events: none;
			position: absolute;
			width:380px;
			left: 35%;
			right: auto;
			bottom: 15px;

    		@media (min-width: 768px) {
    			left: auto;
				width:760px;
				right: 10px;
				bottom: 0;
    		}

    		@media (min-width: 1200px) {
				right: 40px;
    		}
		}
	}
}