doctype html
html
	head
		meta(charset="utf8")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		link(type="text/css" rel="stylesheet" href="/lib/bootstrap.css")
		link(type="text/css" rel="stylesheet" href="/build/bundle.css")
		script(src="https://use.fontawesome.com/a7d5a79611.js")
	body
		.about-page
			.tiboard
				.tiboard__box
					h1.tiboard__header.col-sm-offset-1.col-sm-9 State-of-the-art travel 
						| planner with the world's 
						| greatest adventures
				.tiboard__hardware
					img.tiboard__hardware-img(src="/imgs/about-header-hardware.png" srcset="/imgs/about-header-hardware-2x.png 2x")
				img.tiboard__slides(src="/imgs/about-header-bg.jpg" srcset="/imgs/about-header-bg-2x.jpg 2x")
			.adslides
				.adslides__slides-container.col-lg-offset-1.col-lg-5.col-sm-offset-2.col-sm-10
					.adslides__slides
						img.adslides__slide.adslides__slide_no2x.adslides__slide_1(src="/imgs/about-template-01.jpg", srcset="/imgs/about-template-01-2x.jpg 2x")
						img.adslides__slide.adslides__slide_no2x.adslides__slide_2(src="/imgs/about-template-02.jpg", srcset="/imgs/about-template-02-2x.jpg 2x")
						img.adslides__slide.adslides__slide_no2x.adslides__slide_3(src="/imgs/about-template-03.jpg", srcset="/imgs/about-template-03-2x.jpg 2x")
						img.adslides__slide.adslides__slide_2x.adslides__slide_1(src="/imgs/about-template-01-2x.jpg")
						img.adslides__slide.adslides__slide_2x.adslides__slide_2(src="/imgs/about-template-02-2x.jpg")
						img.adslides__slide.adslides__slide_2x.adslides__slide_3(src="/imgs/about-template-03-2x.jpg")

				.adslides__content.col-lg-5.col-lg-offset-0.col-sm-offset-1.col-sm-10
					.about-description
						h2.about-description__header 
							| IQPlanner is a free marketplace of exciting travel adventures

						.about-description__text IQplanner helps you to find breath-taking adventures easily. Browse through hundreds of adventures shared by famous bloggers, travel photographers and savvy travelers from all over the World! Take advantage of their experience and make your own perfect travel plan.
						.about-description__panel
							a.iqbutton.about-description__button(href="#") Browse best adventures
							a.about-description__link
								| or Learn more&nbsp;&nbsp;
								i.fa.fa-arrow-circle-right(aria-hidden="true")

			.adicons
				.adicons__icons.col-lg-4.col-lg-offset-1.col-lg-push-6.col-sm-offset-2
					img.adicons__icons-image.adicons__icons-image_no2x(src="/imgs/about-icons.png" srcset="/imgs/about-icons-2x.png 2x")
					img.adicons__icons-image.adicons__icons-image_2x(src="/imgs/about-icons-2x.png")
				.adicons__content.col-lg-5.col-lg-pull-5.col-sm-offset-1.col-sm-10
					.about-description
						h2.about-description__header 
							| Intuitive tool, perfect for travel blogging and creating your trip diaries
						.about-description__text
							| IQPlanner partners with travel magazines, photographers and bloggers, offering them to transform their personal stories into a completely new media format — adventures.
						.about-description__panel
							a.iqbutton.about-description__button(href="#") Start my trip diary
							a.about-description__link
								| or Learn more&nbsp;&nbsp;
								i.fa.fa-arrow-circle-right(aria-hidden="true")

			.adphone
				.adphone__box
					.adphone__box-wrapper
						.adphone__phone.col-lg-offset-1
				.adphone__container
					.adphone__container-wrapper.col-lg-5.col-lg-offset-6.col-sm-offset-1.col-sm-10
						.about-description
							h2.about-description__header Travel planner, that builds a perfect holiday
							.about-description__text Looking for a unique holiday? Find inspiration and build it from scratch with our easy-to-use travel planner. Just tell us where do you want to go. You don’t even need to enter the exact dates of travel - we will analyze pricing from numerous suppliers and make recommendations when it is cheaper to travel. 
							.about-description__panel
								a.iqbutton.iqbutton_inverse-lg.about-description__button(href="#") Start planning my trip
								a.about-description__link.about-description__link_inverse-lg
									| or Learn more&nbsp;&nbsp;
									i.fa.fa-arrow-circle-right(aria-hidden="true")

			.adplaces
				.adplaces__slides-container.col-lg-offset-0.col-lg-6.col-lg-push-6.col-sm-offset-1.col-sm-10
					.adplaces__slides
						img.adplaces__slide.adplaces__slide_no2x.adplaces__slide_1(src="/imgs/about-place-01.jpg", srcset="/imgs/about-place-01-2x.jpg 2x")
						img.adplaces__slide.adplaces__slide_no2x.adplaces__slide_2(src="/imgs/about-place-02.jpg", srcset="/imgs/about-place-02-2x.jpg 2x")
						img.adplaces__slide.adplaces__slide_no2x.adplaces__slide_3(src="/imgs/about-place-03.jpg", srcset="/imgs/about-place-03-2x.jpg 2x")
						img.adplaces__slide.adplaces__slide_2x.adplaces__slide_1(src="/imgs/about-place-01-2x.jpg")
						img.adplaces__slide.adplaces__slide_2x.adplaces__slide_2(src="/imgs/about-place-02-2x.jpg")
						img.adplaces__slide.adplaces__slide_2x.adplaces__slide_3(src="/imgs/about-place-03-2x.jpg")
				.adplaces__content.col-lg-offset-1.col-lg-5.col-sm-offset-1.col-sm-10
					.about-description
						h2.about-description__header 
							| Choose activities according to your interests and plans
						.about-description__text
							| All activities for your destination have tags to help you to find the most relevant ones. You can also use our theme filters, ratings and travellers’ reviews to make a choice. 
						.about-description__panel
							a.iqbutton.about-description__button(href="#") Start my trip diary
							a.about-description__link
								| or Learn more&nbsp;&nbsp;
								i.fa.fa-arrow-circle-right(aria-hidden="true")